.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid red;
}
