body {
  background-color: black;
}

h1 {
  color: antiquewhite;
  text-align: center;
}

div :first-child {
  color: red;
  background-color: yellow;
}

p {
  color: white;
  background-color: blue;
}
